* {
    padding: 0px;
    margin: 0px;
}

body {
    background-repeat: no-repeat; 
    background-image: url(bg2.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
    width: 100vw;
    position: fixed;
    height: 5.6vh;

}

.navbar a {
    float:left;
    color:rgb(235, 198, 33);
    padding: 1vh 2vw;
    font-size: 1vw;
    text-decoration: none;
    opacity: 0.7;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    transition-duration: 0.1s;
    opacity: 1;
    color: rgb(235, 198, 33);
    border-bottom: 0.01vh rgb(235, 198, 33) solid;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.side {
    background-color: transparent;
    padding: 1vw;
    /* justify-content: center; */
    position: fixed;
    height: 100vh;
    margin-top: 3vh;
}

.main {
    margin-top: 2vh;
    flex: 70vw;
    width: 70vw;
    background-color: transparent;
    padding: 2vh;
}

img {
    width: 20vw;
    height: 40vh; 
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-left: 1.25vw;
}

.box {
    margin-left: 22.5vw;
    height: 100vh;
    background-color: transparent;
    width: 75vw;
}

.sideOpaque {
    padding: 0px;
    width: 25vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    margin-top: 5.6vh;
}

.boxinsidebox {
    margin-left: 6vw;
    height: 70vh;
    margin-top: 10vh;
    box-shadow: 0 2vh 2vw 0 rgba(0, 0, 0, 0.2), 0 2vh 2vw 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0,0,0,0.2);
    width: 65vw;
}







